@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 216 33% 97%;
    --foreground: 222 47% 11%;
    --card: 0 0% 100%;
    --card-foreground: 222 47% 11%;
    --popover: 0 0% 100%;
    --popover-foreground: 222 47% 11%;
    --primary: 224 100% 58%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 40% 90%;
    --secondary-foreground: 222 47% 11%;
    --muted: 210 40% 94%;
    --muted-foreground: 210 40% 45.1%;
    --accent: 273 100% 63%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 40% 88%;
    --input: 210 40% 88%;
    --ring: 224 100% 58%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;

    --sidebar-background: 222 47% 11%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 224 100% 68%;
    --sidebar-primary-foreground: 222 47% 11%;
    --sidebar-accent: 222 47% 18%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 222 47% 18%;
    --sidebar-ring: 224 100% 68%;
  }

  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222 47% 14%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 224 100% 68%;
    --primary-foreground: 222 47% 11%;
    --secondary: 222 47% 18%;
    --secondary-foreground: 210 40% 98%;
    --muted: 222 47% 18%;
    --muted-foreground: 210 40% 63.9%;
    --accent: 273 100% 73%;
    --accent-foreground: 222 47% 11%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 222 47% 18%;
    --input: 222 47% 18%;
    --ring: 224 100% 68%;

    --sidebar-background: 222 47% 11%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 224 100% 68%;
    --sidebar-primary-foreground: 222 47% 11%;
    --sidebar-accent: 222 47% 18%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 222 47% 18%;
    --sidebar-ring: 224 100% 68%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}